aiohttp==3.7.4.post0
future==0.18.2
google-api-core==1.28.0
google-api-python-client==2.6.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
oauthlib==3.1.0
pyaes==1.6.1
TgCrypto==1.2.2
